@font-face {
    font-family: '3950';
    src: url('fonts/3950.eot');
    src: url('fonts/3950.eot') format('embedded-opentype'),
         url('fonts/3950.woff2') format('woff2'),
         url('fonts/3950.woff') format('woff'),
         url('fonts/3950.ttf') format('truetype'),
         url('fonts/3950.svg#3950') format('svg');
}
